{% extends "base/index.html" %}

{% block titulo %}Ambiente{% endblock %}

{% block content %}
<style>
    .coluna-mapa {
        width: 2.5%;
    }

    .atividade {
        max-height: 25px !important;
        max-width: 25px !important;
    }

    .atividade_selecionada:after {
        opacity: 0;
        -webkit-transition: all 3s;
        transition: all 3s;
    }

    .atividade_selecionada:hover:after {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
        content: attr(conteudo);
        background-color: rgb(177 72 195);
        border: 3px solid rgb(156, 39, 176, .5);
        color: #FFF;
        padding: 4px 11px;
        border-radius: 1rem;
        z-index: 9999999999999999999999999999;
        position: relative;
        min-width: 400px;
        display: inline-grid;
        bottom: 14px;
        left: 8px;
        opacity: 1;
    }

    .campo-formula {
        max-width: 100px;
    }
</style>
<div class="container mt-3">
    <div class='shadow md-shadow-none rounded-lg h-100 overflow-hidden'>
        <div class='h-100 overflow-y-auto p-3'>
            <div class='p-2 d-flex border-bottom mb-2 align-items-center animate__animated animate__fadeInLeft animate__delay-1s'>
                    <h1 class='p-1 m-3'><i class="fas fa-map-marked-alt"></i></h1>
                    <span class='font-weight-normal my-auto' style='font-size: 1.5rem;'>{{ ambiente.nome }}</span>
                <div class="d-flex flex-end w-100 row">
                    <span class="badge badge-primary badge-simulacao" style="height: min-content;">{{ ambiente.predefinicao.nome }}</span>
                    <div class="input-group mb-3 col-3">
                        <div class="input-group-prepend" style="height: 38px;">
                          <label class="input-group-text" for="versao">Versão</label>
                        </div>
                        <select class="custom-select" id="versao" onchange="selecionarVersao(this)">
                            <option value="{{ versao_carregada }}">{{ versao_carregada }}</option>
                            {% for versao in versoes %}
                                {% if not versao_carregada == versao %}
                                    <option value="{{ versao }}">{{ versao }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <!-- Menu de edição -->
                    <div class="col-2 animate__animated animate__fadeInDown">
                        <p class="pt-3">Opções</p>
                        <div class="list-group">
                            <a id="selecionar_S" onclick="selecionarTipo('S')" tipo='S' class="list-group-item item-menu list-group-item-action"><i class="fas fa-mouse-pointer mr-2"></i>Selecionar</a>
                            <a id="selecionar_I" onclick="selecionarTipo('I')" tipo='I' class="list-group-item item-menu list-group-item-action"><i class="far fa-play-circle mr-2"></i>Início</a>
                            <a id="selecionar_R" onclick="selecionarTipo('R')" tipo='R' class="list-group-item item-menu list-group-item-action"><i class="fas fa-route mr-2"></i>Rota</a>
                            <a id="selecionar_D" onclick="selecionarTipo('D')" tipo='D' class="list-group-item item-menu list-group-item-action"><i class="far fa-question-circle mr-2"></i>Decisão</a>
                            <a id="selecionar_P" onclick="selecionarTipo('P')" tipo='P' class="list-group-item item-menu list-group-item-action"><i class="far fa-pause-circle mr-2"></i>Parada</a>
                            <div class="dropdown-divider"></div>
                            <a id="vincular" onclick="vincularAtividade()" tipo='V' class="list-group-item item-menu list-group-item-action">
                                <i class="fas fa-link mr-2"></i>Vincular
                            </a>
                            <div id="salvar_vinculos" class="m-2 text-center btn display-none animate__animated animate__fadeInDown" onclick="salvarVinculos()">
                                <span class="badge badge-primary p-2"><i id="icone_salvar_vinculos" class="fas fa-wave-square mr-2"></i>Salvar vínculos</span>
                            </div>
                            <div id="cancelar_vinculos" class="text-center btn display-none animate__animated animate__fadeInDown" onclick="cancelarVinculos()">
                                <span class="badge badge-danger p-2"><i id="icone_cancelar_vinculos" class="fas fa-times-circle mr-2"></i>Cancelar vínculos</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a id="selecionar_F" onclick="selecionarTipo('F')" tipo='F' class="list-group-item item-menu list-group-item-action"><i class="far fa-times-circle mr-2"></i>Fim</a>
                            <a id="remover_atividade" onclick="selecionarTipo('Remover')" tipo='Remover' class="list-group-item item-menu list-group-item-action disabled"><i class="far fa-trash-alt mr-2"></i>Remover</a>
                        </div>
                        <p class="pt-3">Edição</p>
                        <div class="dropdown-divider"></div>
                        <div class="form-group">
                            <label for="nome_atividade_selecionada">Opção</label>
                            <input id="nome_atividade_selecionada" type="text" class="form-control" placeholder="Nome opção">
                        </div>
                        <div class="form-group">
                            <label for="duracao_atividade_selecionada">Duração (segundos)</label>
                            <input id="duracao_atividade_selecionada" type="number" class="form-control" placeholder="Em segundos">
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="direcao_atividade_selecionada">Direção</label>
                                </div>
                                <select class="custom-select" id="direcao_atividade_selecionada">
                                  <option value="S" selected>Selecione</option>
                                  <option value="C">Cima</option>
                                  <option value="D">Direita</option>
                                  <option value="B">Baixo</option>
                                  <option value="E">Esquerda</option>
                                  <option value="M">Múltiplo</option>
                                  <option value="DC">Decisão</option>
                                  <option value="F">Fim</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tipo_atividade_selecionada">Tipo</label>
                            <input id="tipo_atividade_selecionada" type="text" class="form-control" placeholder="Tipo da opção" disabled>
                        </div>
                        <div class="form-group">
                            <label for="formula_atividade_selecionada">Fórmula</label>
                            <input id="formula_atividade_selecionada" type="text" class="form-control" placeholder="Fórmula" disabled>
                        </div>
                        <div class="form-group">
                            <label for="proxima_atividade_selecionada">Próxima atividade</label>
                            <input id="proxima_atividade_selecionada" type="text" class="form-control" placeholder="Fórmula" disabled>
                        </div>
                        <div class="form-group">
                            <label for="anterior_atividade_selecionada">Atividade anterior</label>
                            <input id="anterior_atividade_selecionada" type="text" class="form-control" placeholder="Fórmula" disabled>
                        </div>
                    </div>
                    <!-- Mapa do ambiente -->
                    <div class="row col-8 animate__animated animate__zoomInUp d-block">
                        <div class="row col-12">
                            <div class="col-6">
                                <p class="pt-3">Mapa do ambiente</p>
                            </div>
                            <p class="col-6 text-right align-self-center">
                                <span id="descricao_atividade" class="badge badge-primary badge-simulacao"></span>
                                <span id="tempo_simulacao" class="badge badge-danger badge-simulacao"></span>
                            </p>
                        </div>

                        <div class="col-12 d-flex" id="ambiente"></div>
                        
                        <div id="div_formula" class="col-12 p-3 animate__animated animate__fadeInDown">
                            <div class="form-group border p-3 rounded">
                                <h5 for="formula"><i class="fas fa-cubesm mr-1"></i>Elementos da simulação</h5>
                                <div class="row mb-3">
                                    <div class="row col-12">
                                        <div class="col-6">
                                            <p><span class="text-success"><i class="fas fa-child mr-1"></i>Participante</span></p>
                                            <div id="div_atributos_participante"></div>
                                        </div>
                                        <div class="col-6">
                                            <p><span class=" text-danger"><i class="fas fa-map-marked-alt mr-1"></i>Simulação</span></p>
                                            <div id="div_atributos_simulacao">
                                                <!-- <a id="direcao_atividade_formula" class="badge badge-danger text-white m-1 p-2 cursor-pointer" onclick="selecionarElementoFormula('atributo', 'direcao', this.getAttribute('value'))" value=""><i class="fas fa-route mr-1"></i></i>Direção</a> -->
                                                <a id="duracao_atividade_formula" class="badge badge-danger text-white m-1 p-2 cursor-pointer" onclick="selecionarElementoFormula('atributo', 'duracao', this.getAttribute('value'))" value=""><i class="far fa-clock mr-1"></i>Duração</a>
                                                <a id="simnao_atividade_formula" class="badge badge-danger text-white m-1 p-2 cursor-pointer" onclick="selecionarElementoFormula('atributo', 'sim/nao', this.getAttribute('value'))" value="Sim/Não"><i class="far fa-question-circle mr-1"></i>Sim/Não</a>
                                            </div>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <p><span><i class="fas fa-calculator mr-1" style="color: #6b6f82 !important"></i>Operações</span></p>
                                            <div id="div_operacoes_simulacao">
                                                <!-- <a class="badge badge-danger text-white m-1 p-2" onclick="selecionarElementoFormula()"><i class="fas fa-route mr-1"></i></i>Direção</a> -->
                                                <kbd onclick="selecionarElementoFormula('operacao', '+', '+')"   class="cursor-pointer"><i class="fas fa-plus"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '-', '-')"   class="cursor-pointer"><i class="fas fa-minus"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '/', '/')"   class="cursor-pointer"><i class="fas fa-divide"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '%', '%')"   class="cursor-pointer"><i class="fas fa-percentage"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '=', '=')"   class="cursor-pointer"><i class="fas fa-equals"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '!=', '!=')"  class="cursor-pointer"><i class="fas fa-not-equal"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '<', '<')"   class="cursor-pointer"><i class="fas fa-less-than"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '<=', '<=')"  class="cursor-pointer"><i class="fas fa-less-than-equal"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '>', '>')"   class="cursor-pointer"><i class="fas fa-greater-than"></i></kbd>
                                                <kbd onclick="selecionarElementoFormula('operacao', '>=', '>=')"  class="cursor-pointer"><i class="fas fa-greater-than-equal"></i></kbd>
                                            </div>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <p><span><i class="fas fa-map-marked-alt mr-1" style="color: #6b6f82 !important"></i>Campos</span></p>
                                            <div id="div_campos_simulacao">
                                                <!-- <a id="direcao_atividade_formula" class="badge badge-danger text-white m-1 p-2 cursor-pointer" onclick="selecionarElementoFormula('atributo', 'direcao', this.getAttribute('value'))" value=""><i class="fas fa-route mr-1"></i></i>Direção</a> -->
                                                <a id="campo_atividade_formula" class="badge text-white m-1 p-2 cursor-pointer" style="background-color: #6b6f82 !important;" onclick="selecionarElementoFormula('campo', 'campo', this.getAttribute('value'))" value="campo"><i class="fas fa-keyboard mr-1"></i>Campo de texto</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown-divider mt-3 mb-3"></div>
                                <h5 for="formula_atividade_selecionada"><i class="fas fa-project-diagram mr-1"></i>Fórmula</h5>
                                <div id="formula" class="m-3 p-3 border rounded d-flex d-flex align-items-center"></div>

                                <input id="quantidade_participantes" type="text" class="form-control" placeholder="Código fórmula" disabled></input>

                                <!-- <pre>
                                    <p>You <code>&lt;font&gt;</code> and <code>&lt;center&gt;</code>.</p>
                                    
                                    <p>In the above JavaScript example, <var>para</var> represents a paragraph element.</p>
                                    
                                    <p>Select all the text with <kbd>Ctrl</kbd>/<kbd>Cmd</kbd> + <kbd>A</kbd>.</p>
                                    
                                    <pre>$ <kbd>ping mozilla.org</kbd></pre>
                                    <samp>
                                        PING mozilla.org (63.245.215.20): 56 data bytes
                                        64 bytes from 63.245.215.20: icmp_seq=0 ttl=40 time=158.233 ms
                                    </samp>
                                </pre> -->

                                <div class="dropdown-divider mt-3 mb-3"></div>
                                <h5 for="formula_atividade_selecionada"><i class="far fa-check-circle mr-1"></i>Retorno</h5>
                                <div class="row col-12">
                                    <div class="col-6">
                                        <p>Selecionar retorno <span class="text-success">verdadeiro</span></p>
                                        <div id="div_atividades_formula_verdadeiro"class="btn-group" role="verdadeiro"></div>
                                        <p id="decisao_verdadeira_selecionado" class="p-3 text-success"></p>
                                    </div>
                                    <div class="col-6">
                                        <p>Selecionar retorno <span class="text-danger">falso</span></p>
                                        <div id="div_atividades_formula_falso"class="btn-group" role="falso"></div>
                                        <p id="decisao_falsa_selecionado" class="p-3 text-danger"></p>
                                    </div>
                                </div>
                                <div class="p-3 text-right">
                                    <a id="btn_salvar_formula" onclick="salvarFormula()" class="btn btn-success text-white">Salvar Fórmula</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <!-- Configurações ambiente -->
                    <div class="col-2 animate__animated animate__fadeInDown">
                        <div class="list-group">    
                            <!-- <div class="dropdown-divider"></div> -->
                            <p class="p-3">Criaturas</p>
                            <a onclick="selecionarTipo('O', 'fas fa-dragon', 'fa-dragon')" tipo="fa-dragon" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-dragon mr-2"></i>Dragão</a>
                            <a onclick="selecionarTipo('O', 'fas fa-cat', 'fa-cat')" tipo="fa-cat" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-cat mr-2"></i>Gato</a>
                            <!-- <a onclick="selecionarTipo('O', 'fas fa-male', 'fa-male')" tipo="" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-male mr-2"></i>Parada</a>
                            <a onclick="selecionarTipo('O', 'fas fa-walking', 'fa-walking')" tipo="" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-walking mr-2"></i>Caminhando</a>
                            <a onclick="selecionarTipo('O', 'fas fa-running', 'fa-running')" tipo="" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-running mr-2"></i>Correndo</a>
                            <a onclick="selecionarTipo('O', 'fas fa-users', 'fa-users')" tipo="" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-users mr-2"></i>Grupo</a>
                            <a onclick="selecionarTipo('O', 'fas fa-chalkboard-teacher', 'fa-chalkboard-teacher')" tipo="" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-chalkboard-teacher mr-2"></i>Sentada</a> -->
                        
                            <div class="dropdown-divider"></div>
                            <p class="">Objetos</p>
                            <a onclick="selecionarTipo('O', 'fas fa-square-full', 'fa-square-full')" tipo="fa-square-full" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-square-full mr-2"></i>Parede</a>
                            <a onclick="selecionarTipo('O', 'fas fa-tree', 'fa-tree')" tipo="fa-tree" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-tree mr-2"></i>Árvore</a>
                            <a onclick="selecionarTipo('O', 'fas fa-door', 'fa-door-closed')" tipo="fa-door" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-door-closed mr-2"></i>Porta</a>
                            <a onclick="selecionarTipo('O', 'fas fa-dumpster', 'fa-dumpster')" tipo="fa-dumpster" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-dumpster mr-2"></i>Lixeira</a>
                            <a onclick="selecionarTipo('O', 'fas fa-home', 'fa-home')" tipo="fa-home" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-home mr-2"></i>Casa</a>
                            <a onclick="selecionarTipo('O', 'fas fa-church', 'fa-church')" tipo="fa-church" class="list-group-item item-menu objeto list-group-item-action"><i class="fas fa-church mr-2"></i>Igreja</a>
                            <a onclick="selecionarTipo('O', 'far fa-hospital', 'fa-hospital')" tipo="fa-hospital" class="list-group-item item-menu objeto list-group-item-action"><i class="far fa-hospital mr-2"></i>Farmácia</a>
                            <a onclick="selecionarTipo('O', 'far fa-building', 'fa-building')" tipo="fa-building" class="list-group-item item-menu objeto list-group-item-action"><i class="far fa-building mr-2"></i>Prédio</a>
                        </div>
                        <p class="pt-3">Ambiente</p>
                        <div class="dropdown-divider"></div>
                        <a id="btn_salvar" onclick="salvarAmbiente()" class="btn btn-success text-white w-100">Salvar Ambiente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const descricao_atividade = document.getElementById("descricao_atividade")
    // const direcao_atividade_formula = document.getElementById('direcao_atividade_formula')
    const duracao_atividade_formula = document.getElementById('duracao_atividade_formula')
    const div_formula = document.getElementById('formula')
    const id_ambiente = {{ ambiente.id }}
    const predefinicao = '{{ ambiente.predefinicao.nome }}'
    const ambiente = document.getElementById('ambiente')
    // atividades = [ícone, cor fundo, título, direção, direcao_ativada]
    const atividades = {
        'I': ['far fa-play-circle text-white', 'bg-primary-bootstrap', 'Início', 'C', false],
        'R': ['fas fa-road text-white', 'bg-success', 'Rota', 'C', true],
        'D': ['far fa-question-circle text-white', 'bg-warning', 'Decisão', 'DC', false],
        'P': ['far fa-pause-circle text-white', 'bg-dark', 'Parada', 'C', false],
        'F': ['far fa-times-circle text-white', 'bg-danger', 'Fim', 'F', false],
        'S': ['', 'bg-primary-bootstrap', 'Selecionar', 'C', ''],
        'O': ['text-white', 'bg-danger', 'Objeto', '', 'C'],
        'Remover': ['far fa-fa-trash-alt text-white', 'bg-danger', 'Remover', '', ''],
    }

    const rotas = {
        'S': 'Selecionar',
        'C': 'fas fa-arrow-up',
        'D': 'fas fa-arrow-right',
        'B': 'fas fa-arrow-down',
        'E': 'fas fa-arrow-left',
        'F': 'fas fa-times-circle',
        'DC': 'fas fa-question-circle',
    }

    const elementos_formula = {
        'operacao': 
            {
                'cor': 'bg-primary-bootstrap',
                '+':    ['fas fa-plus'],
                '-':    ['fas fa-minus'],
                '/':    ['fas fa-divide'],
                '%':    ['fas fa-percentage'],
                '=':    ['fas fa-equals'],
                '!=':   ['fas fa-not-equals'],
                '<':    ['fas fa-less-than'],
                '<=':   [ 'fas fa-less-than-equal'],
                '>':    ['fas fa-greater-than'],
                '>=':   ['fas fa-greater-than-equal'],
            },
        'atributo':
            {
                'cor': 'bg-danger',
                'direcao': ['fas fa-route mr-1', 'simulacao'],
                'duracao': ['far fa-clock mr-1', 'simulacao'],
                'sim/nao': ['far fa-question-circle mr-1', 'simulacao'],
                'temperatura': ['fas fa-temperature-low mr-2', 'participante']
            },
        'prioridade':
            {
                'parenteses': [],
                'fecha_parenteses': [],
                'parenteses': [],
            },
    }

    const configuracao_predefinicao = {
        'COVID': {
            'cor': 'dg-success text-white',
            'participante': {
                'Nome': ['fas fa-signature mr-2'],
                'Idade': ['fas fa-birthday-cake mr-2'],
                'Temperatura': ['fas fa-temperature-low mr-2'],
            }
        }
    }

    let mouseClicado = false
    let camposFormula = 1
    let tipo_selecionado = ''
    let objeto_selecionado = ''
    let mapa_simulacao = []
    let direcao_atividade_anterior = ''
    let vinculo_inicial = ''
    let vinculos = []
    let rota = 1

    let objeto_formula = {}
    let ultimo_elemento_formula_adicionado = false

    carregar_atividades = () => {
        let atividade_documento = ''
        let i = ''
        let icone = ''

        {% for atividade in atividades %}
            atividade_documento = document.getElementById('{{ atividade.linha }}{{ atividade.coluna }}')

            atividade_documento.innerHTML = ''
            atividade_documento.classList.add('{{ atividade.tipo }}' == 'O' ? 'bg-white' : atividades['{{ atividade.tipo }}'][1], 'atividade_selecionada')
            atividade_documento.setAttribute('onclick', `atualizarMenuEdicao('{{ atividade.linha }}{{ atividade.coluna }}', '${'{{ atividade.tipo }}'}')`)
            atividade_documento.setAttribute('title', '{{ atividade.atividade }}')
            atividade_documento.setAttribute('linha', '{{ atividade.linha }}')
            atividade_documento.setAttribute('coluna', '{{ atividade.coluna }}')
            atividade_documento.setAttribute('direcao', '{{ atividade.direcao }}')
            atividade_documento.setAttribute('proxima_atividade', '{{ atividade.proxima_atividade }}')
            atividade_documento.setAttribute('atividade_anterior', '{{ atividade.atividade_anterior }}')
            atividade_documento.setAttribute('decisao_verdadeira', '{{ atividade.decisao_verdadeira }}')
            atividade_documento.setAttribute('formula', '{{ atividade.formula|safe }}')
            atividade_documento.setAttribute('decisao_falsa', '{{ atividade.decisao_falsa }}')
            atividade_documento.setAttribute('duracao', '{{ atividade.duracao }}')
            atividade_documento.setAttribute('tipo_atividade', '{{ atividade.tipo }}')
            atividade_documento.setAttribute('icone', '{{ atividade.icone }}')
            atividade_documento.setAttribute('conteudo', '{{ atividade.linha }}{{ atividade.coluna }} - {{ atividade.atividade }} - {{ atividade.duracao }}s')

            i = document.createElement('i')
            
            if ('{{ atividade.tipo }}' == 'O') {
                i.setAttribute('class', '{{ atividade.icone }}')
            } else {
                i.setAttribute('class', '{{ atividade.tipo }}' == 'R' ? `${rotas['{{ atividade.direcao }}']} text-white` : atividades['{{ atividade.tipo }}'][0])   
            }
            
            atividade_documento.append(i)
        {% endfor %}
    }

    for (let coluna = 0; coluna <= 40; coluna++) {
        const div_coluna = document.createElement('div') 

        div_coluna.setAttribute('class', 'flex-row coluna-mapa')

        ambiente.append(div_coluna)

        for (let linha = 0; linha <= 25; linha++) {
            const atividade = document.createElement('div')
            atividade.setAttribute('class', 'align-self-start atividade text-center')
            atividade.setAttribute('id', `${ linha < 10 ? '0' + linha : linha }${ coluna < 10 ? '0' + coluna : coluna }`)
            atividade.setAttribute('onclick', `ativarAtividade(event, ['${ linha < 10 ? '0' + linha : linha }', '${ coluna < 10 ? '0' + coluna : coluna }'])`)
            atividade.setAttribute('onmouseover', `ativarAtividade(event, ['${ linha < 10 ? '0' + linha : linha }', '${ coluna < 10 ? '0' + coluna : coluna }'])`)
            atividade.setAttribute('onmousedown', 'mouseClicado = false')

            atividade.textContent = '*'

            div_coluna.append(atividade)
        }   
    }

    selecionarTipo = (tipo, icone, dado) => {
        tipo == 'S' ? selecionar() : tipo_selecionado = tipo
        
        desmarcarOpcoes()

        objeto_selecionado = icone
        document.querySelector(tipo == 'O' ? `[tipo="${dado}"]` : `[tipo="${tipo}"]`)
            .classList.add(tipo == 'O' ? atividades['O'][1] : atividades[tipo][1], 'text-white')

        tipo == 'I' ? descricao_atividade.textContent = 'Selecione uma atividade no mapa do ambiente para definir o início' :
            tipo == 'Rota' ? descricao_atividade.textContent = 'Selecione uma atividade no mapa do ambiente para uma rota' : descricao_atividade.textContent = 'ok'
        carregarConfiguracoes(false)
        desabilitarAtividadesNaoSelecionadas(false)
    }

    selecionar = () => {
        document.querySelectorAll('.atividade').forEach(atividade => {
            atividade.classList.remove('none-events')
        })
    }

    ativarAtividade = (event, coordenada) => {
        if (event.type == 'mouseover') {
            if (tipo_selecionado != '' & mouseClicado) {
                configurarAtividade(coordenada, tipo_selecionado)
            }
        } else {
            tipo_selecionado == '' ? alert('Selecione um tipo') : configurarAtividade(coordenada, tipo_selecionado)
        }
    }

    desmarcarOpcoes = () => {
        document.querySelectorAll('[tipo]').forEach(el => { el.classList = 'list-group-item item-menu list-group-item-action' })
    }

    configurarAtividade = (coordenada, tipo) => {
        criarPropriedadesAtividade(coordenada, tipo)

        atualizarMenuEdicao(coordenada[0]+coordenada[1], tipo)

        carregarConfiguracoes(false)
    }

    desabilitarAtividadesNaoSelecionadas = (desabilitar) => {
        document.querySelectorAll('.atividade:not(.atividade_selecionada)').forEach( atividade => {
            desabilitar ? atividade.classList.add('none-events') : atividade.classList.remove('none-events')
        })
    }

    criarPropriedadesAtividade = (coordenada, tipo) => {
        const identificador = coordenada[0]+coordenada[1]

        const elemento_atividade = document.getElementById(identificador)

        elemento_atividade.innerHTML = ''
        elemento_atividade.classList.add(tipo == 'O' ? 'bg-white' : atividades[tipo][1], 'atividade_selecionada')
        elemento_atividade.setAttribute('onclick', `atualizarMenuEdicao('${identificador}', '${tipo}')`)
        elemento_atividade.setAttribute('title', `${atividades[tipo][2]}`)
        elemento_atividade.setAttribute('duracao', tipo == 'O' ? 0 : 5)
        elemento_atividade.setAttribute('proxima_atividade', tipo == 'O' ? 0 : '')
        elemento_atividade.setAttribute('atividade_anterior', tipo == 'O' ? 0 : '')
        elemento_atividade.setAttribute('linha', coordenada[0])
        elemento_atividade.setAttribute('coluna', coordenada[1])
        elemento_atividade.setAttribute('tipo_atividade', tipo)
        elemento_atividade.setAttribute('icone', tipo == 'O' ? objeto_selecionado : atividades[tipo][0])

        const i = document.createElement('i')
        i.setAttribute('class', tipo == 'O' ? objeto_selecionado : atividades[tipo][0])
        elemento_atividade.append(i)

        elemento_atividade.setAttribute('direcao', atividades[tipo][3])
        document.getElementById('direcao_atividade_selecionada').disabled = atividades[tipo][4]

        tipo == 'D' ? exibirFormula() : ocultarFormula()
        
    }

    atualizarMenuEdicao = (atividade, tipo) => {
        /*
            Verifica se a opção de vinculo está ativada:
            Se estiver irá armazenar o valor como primeiro item no array de arquivo vinculado

            Se não, irá habilitar o menu de edição da atividade
        */

        if (document.getElementById('vincular').classList.contains('active')) {
            /*
                Se "vinculo_inicial" estiver vazio será criado registrado o primeiro elemento clicado como vinculo_inicial
            */

            let atividade_vinculada = document.getElementById(`${atividade}`)
            
            vinculos.push(atividade)
            document.getElementById('salvar_vinculos').style.display = 'block'

            atividade_vinculada.innerHTML = '<i class="fas fa-link"></i>'
            atividade_vinculada.setAttribute('sequencia', rota)

            atividade_vinculada.classList.add('text-white', 'none-events')
        } else {
            const elemento_atividade = document.getElementById(atividade)
            const nome_atividade_selecionada = document.getElementById('nome_atividade_selecionada')
            const direcao_atividade_selecionada = document.getElementById('direcao_atividade_selecionada')
            const duracao_atividade_selecionada = document.getElementById('duracao_atividade_selecionada')
            const remover_atividade = document.getElementById('remover_atividade')

            nome_atividade_selecionada.value = elemento_atividade.getAttribute('title')
            duracao_atividade_formula.setAttribute('value', elemento_atividade.getAttribute('duracao'))
            // direcao_atividade_formula.setAttribute('value', elemento_atividade.getAttribute('direcao'))
            nome_atividade_selecionada.setAttribute('oninput', `atualizarAtributoAtividade('${atividade}', 'nome_atividade_selecionada', 'title')`)
            duracao_atividade_selecionada.setAttribute('oninput', `atualizarAtributoAtividade('${atividade}', 'duracao_atividade_selecionada', 'duracao')`)

            direcao_atividade_selecionada.setAttribute('onchange', `atualizarAtributoSelecaoAtividade('${atividade}', 'direcao_atividade_selecionada', 'direcao')`)

            remover_atividade.classList.remove('disabled')
            remover_atividade.setAttribute('onclick', `removerAtividade('${atividade}', '${tipo}')`)

            desmarcarAtividades()
            marcarAtividade(atividade)
            
            tipo == 'D' ? exibirFormula(atividade) : ocultarFormula()
        }
    }

    removerAtividade = (atividade, tipo) => {
        const atividade_marcada = document.getElementById(atividade)
        document.getElementById('remover_atividade').classList.add('disabled')
        
        atividade_marcada.innerHTML = '*'
        atividade_marcada.classList.remove('atividade_marcada', atividades[tipo][1], 'atividade_selecionada')
        atividade_marcada.setAttribute('tipo_atividade', '0')
        atividade_marcada.setAttribute('onclick', `ativarAtividade(event, '${atividade}')`)

        carregarConfiguracoes(false)
    }

    atualizarAtributoAtividade = (atividade, elemento, atributo) => {
        const elemento_atividade = document.getElementById(atividade)
        const campo = document.getElementById(elemento)

        elemento_atividade.setAttribute(atributo, campo.value)
    }

    atualizarAtributoSelecaoAtividade = (atividade, elemento, atributo) => {
        const elemento_atividade = document.getElementById(atividade)
        
        let atividadeSelecionada = document.getElementById(elemento)
        let valorSelecionado = atividadeSelecionada.options[atividadeSelecionada.selectedIndex].value
        

        elemento_atividade.setAttribute(atributo, valorSelecionado)
        elemento_atividade.innerHTML = `<i class="${rotas[valorSelecionado]} text-white"></i>`
    }

    marcarAtividade = (atividade) => {
        atividade_marcada = document.getElementById(atividade)

        atividade_marcada.classList.toggle('atividade_marcada')

        document.getElementById('duracao_atividade_selecionada').value = atividade_marcada.getAttribute('duracao')
        document.getElementById('direcao_atividade_selecionada').value = atividade_marcada.getAttribute('direcao')
        document.getElementById('proxima_atividade_selecionada').value = atividade_marcada.getAttribute('proxima_atividade')
        document.getElementById('anterior_atividade_selecionada').value = atividade_marcada.getAttribute('atividade_anterior')
        document.getElementById('tipo_atividade_selecionada').value = atividades[atividade_marcada.getAttribute('tipo_atividade')][2]

        let direcao = document.getElementById('direcao_atividade_selecionada')
        atividade_marcada.getAttribute('tipo_atividade') == 'D' ? direcao.disabled = true : direcao.disabled = false

        if (atividade_marcada.getAttribute('tipo_atividade') != 'O') {
            document.querySelector(`option[value="${atividade_marcada.getAttribute('direcao')}"`).setAttribute('selected', 'true')
        }
    }

    desmarcarAtividades = () => {
        try {
            document.querySelector('.atividade_marcada').classList.toggle('atividade_marcada')
        } catch (error) {
            return
        }
    }

    selecionarVersao = () => {
        let atividadeSelecionada = document.getElementById('versao')
        let valorSelecionado = atividadeSelecionada.options[atividadeSelecionada.selectedIndex].value

        window.location.href = `http://127.0.0.1:9000/ambiente/${id_ambiente}/${valorSelecionado}`
    }

    adicionarObjeto = (icone) => {
        tipo_selecionado = 'O'
        objeto_selecionado = icone
    }

    salvarAmbiente = () => {
        var xhttp = new XMLHttpRequest()
        const btn_salvar = document.getElementById('btn_salvar')

        btn_salvar.innerHTML = `<i class="fas fa-spinner fa-spin mr-3"></i>Salvando`
        btn_salvar.classList.add('disabled')
        btn_salvar.style.opacity = '1'

        xhttp.open("POST", "/salvar_ambiente/", true)

        xhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
        xhttp.setRequestHeader("X-CSRFToken", getCookie('csrftoken'))

        xhttp.responseType = 'json'
        xhttp.onreadystatechange = function(data) {
            if (this.readyState == 4 && this.status == 200) {
                let json = xhttp.response
                if (json) {
                    window.location.href = `http://127.0.0.1:9000/ambiente/${id_ambiente}/${json['versao']}`
                }
            }
        }

        const atividades_selecionadas = document.querySelectorAll('.atividade_selecionada')
        let dados = {}
        let dict_atividades = {}

        const ambiente = {'ambiente': `{{ ambiente.id }}`}
        dados = Object.assign(dados, ambiente)

        // const mapa = gerarMapaSimulacao(document.querySelector("[tipo_atividade='I']"))

        atividades_selecionadas.forEach(atividade => {
            let id = `${ atividade.getAttribute('id') }`

            let op = {
                    'atividade': atividade.getAttribute('title'),
                    'linha': atividade.getAttribute('linha'),
                    'proxima_atividade': atividade.getAttribute('proxima_atividade'),
                    'atividade_anterior': atividade.getAttribute('atividade_anterior'),
                    'decisao_verdadeira': atividade.getAttribute('decisao_verdadeira'),
                    'decisao_falsa': atividade.getAttribute('decisao_falsa'),
                    'sequencia': atividade.getAttribute('sequencia'),
                    'coluna': atividade.getAttribute('coluna'),
                    'direcao': atividade.getAttribute('direcao'),
                    'duracao': atividade.getAttribute('duracao'),
                    'tipo': atividade.getAttribute('tipo_atividade'),
                    'icone': atividade.getAttribute('icone'),
                    'formula': atividade.getAttribute('formula')
                }

            dict_atividades[id] = op
        })

        dict_atividades = {'atividades': dict_atividades}
        dados = Object.assign(dados, dict_atividades)

        xhttp.send("dados=" + JSON.stringify(dados))
    }

    function getCookie(name) {
        var cookieValue = null;

        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    /* ---------------------------------------------------------------- */
    /* -> Fórmulas <--------------------------------------------------- */
    /* ---------------------------------------------------------------- */

    exibirFormula = (atividade) => {
        document.getElementById('div_formula').style.display = 'block'
        document.getElementById('formula').focus()

        objeto_formula = {}

        caminhosDecisao(atividade, true)
        caminhosDecisao(atividade, false)
    }

    ocultarFormula = () => {
        document.getElementById('div_formula').style.display = 'none'
    }

    caminhosDecisao = (atividade, formula) => {
        const atividade_selecionada = document.getElementById(`${ atividade }`)
        const div_atividades_formula = document.getElementById(formula ? 'div_atividades_formula_verdadeiro' : 'div_atividades_formula_falso')

        let linha = parseInt(atividade_selecionada.getAttribute('linha'))
        let coluna = parseInt(atividade_selecionada.getAttribute('coluna'))
        
        coluna < 10 ? coluna = `0${coluna}` : coluna
        linha < 10 ? linha = `0${linha}` : linha

        const cima      = (parseInt(linha)  - 1) < 10 ? `0${ parseInt(linha)  - 1 }` : parseInt(linha)  - 1
        const direita   = (parseInt(coluna) + 1) < 10 ? `0${ parseInt(coluna) + 1 }` : parseInt(coluna) + 1
        const baixo     = (parseInt(linha)  + 1) < 10 ? `0${ parseInt(linha)  + 1 }` : parseInt(linha)  + 1
        const esquerda  = (parseInt(coluna) - 1) < 10 ? `0${ parseInt(coluna) - 1 }` : parseInt(coluna) - 1

        const caminhos = [
            [document.querySelector(`[id='${ cima }${ coluna }']:not(.atividade_selecionada)`), 'Cima', 'fas fa-arrow-up'],
            [document.querySelector(`[id='${ linha }${ direita }']:not(.atividade_selecionada)`), 'Direita', 'fas fa-arrow-right'],
            [document.querySelector(`[id='${ baixo }${ coluna }']:not(.atividade_selecionada)`), 'Baixo', 'fas fa-arrow-down'],
            [document.querySelector(`[id='${ linha }${ esquerda }']:not(.atividade_selecionada)`), 'Esquerda', 'fas fa-arrow-left'],
        ]

        div_atividades_formula.innerHTML = ''
        
        for (const [index, valor] of caminhos.entries()) {
            if (valor[0]) {
                const retorno = formula ? 'verdadeiro' : 'falso'
                const button = document.createElement('button')
                const coordenada_atividade = valor[0].getAttribute('id')
                const i = document.createElement('i')

                button.setAttribute('class', `btn btn-secondary retorno`)
                button.setAttribute('type', 'button')
                button.setAttribute('id', `${ retorno }${ coordenada_atividade }`)
                button.setAttribute('atividade', `${ coordenada_atividade }`)
                button.setAttribute(
                    'onclick', `selecionarRetornoFormula('${ retorno }', '${ coordenada_atividade }', '${ valor[1] }')`
                )

                i.setAttribute('class', `${ valor[2] } mr-2`)
                button.append(i)

                button.innerHTML += `${ valor[1] }`

                div_atividades_formula.append(button)
            }
        }
    }

    selecionarElementoFormula = (tipo, item, valor) => {
        if (tipo == 'campo') { return adicionarCampoFormula() }

        if (ultimo_elemento_formula_adicionado == false && tipo == 'operacao') { return alert('Selecione um atributo para começar sua fórmula!') }
        if (ultimo_elemento_formula_adicionado == 'atributo' && tipo == 'atributo')  { return alert('Selecione uma operação para continuar sua fórmula!') }
        if (ultimo_elemento_formula_adicionado == 'operacao' && tipo == 'operacao')  { return }

        if (ultimo_elemento_formula_adicionado == 'atributo' && tipo == 'operacao') { 'ok '}

        adicionarAtributoFormula(tipo, item, elementos_formula[tipo]['cor'], valor)
        ultimo_elemento_formula_adicionado = tipo
    }

    adicionarCampoFormula = () => {
        const campo = document.createElement('input')

        campo.setAttribute('type', 'text')
        campo.setAttribute('tipo', 'campo')
        campo.setAttribute('onkeydown', 'atualizarValorCampo(this)')
        campo.setAttribute('class', 'form-control d-flex align-items-center mr-1 campo-formula')
        campo.setAttribute('id', `campo_formula${ camposFormula }`)
        campo.setAttribute('placeholder', `Campo ${ camposFormula }`)

        div_formula.append(campo)
        adicionarCampoFormula++
    }

    atualizarValorCampo = (campo) => {
        campo.setAttribute('valor', campo.value)
    }

    adicionarAtributoFormula = (tipo, item, cor, valor) => {
        const kbd = document.createElement('kbd')

        kbd.setAttribute('class', `${ cor } mr-1 d-flex align-items-center`)
        kbd.setAttribute('tipo', tipo)
        kbd.setAttribute('valor', valor)

        tipo == 'atributo' ? kbd.setAttribute('origem_atributo', elementos_formula[tipo][item][1]) : ''

        kbd.innerHTML = `<i class="${ elementos_formula[tipo][item][0] }"></i>${ tipo != 'operacao' ? valor : '' }`
        div_formula.append(kbd)
    }

    selecionarRetornoFormula = (tipo_retorno, atividade, nome) => {
        const retorno_selecionado = document.getElementById(`${ tipo_retorno }${ atividade }`)
        const decisao_verdadeira_selecionado = document.getElementById('decisao_verdadeira_selecionado')
        const decisao_falsa_selecionado = document.getElementById('decisao_falsa_selecionado')
        
        ativarItems(document.querySelectorAll('.retorno'))

        if (tipo_retorno == 'verdadeiro') {
            desativarItem(document.getElementById(`falso${ atividade }`))
            atividade_marcada.setAttribute('decisao_verdadeira', atividade)

            decisao_verdadeira_selecionado.innerHTML = `Retorno selecionado: <b>${ nome }</b>`
        } else {
            desativarItem(document.getElementById(`verdadeiro${ atividade }`))
            atividade_marcada.setAttribute('decisao_falsa', atividade)
            
            decisao_falsa_selecionado.innerHTML = `Retorno selecionado: <b>${ nome }</b>`
        }
    }

    desativarItem = (item) => {
        item.disabled = true
        item.classList.add('disabled')
    }

    ativarItems = (items) => {
        items.forEach(i => {
            i.disabled = false
            i.classList.remove('disabled')
        })
    }

    salvarFormula = () => {
        const div_formula = Array.from(document.getElementById('formula').children)
        let formula = []
        
        /*
            Verifica se o valor do primeiro atributo selecionado na formulá é igual a (div_formula[0]) "Sim/Não"
            Caso seja será possível salvar a mesma
            Caso contrário terá que preencher a formulá complemente
        */
        
        if ( div_formula[0].getAttribute('valor') == 'Sim/Não') {
                const form = {
                    'tipo': div_formula[0].getAttribute('tipo'),
                    'origem': div_formula[0].getAttribute('origem_atributo') ? div_formula[0].getAttribute('origem_atributo') : '',
                    'valor': div_formula[0].getAttribute('valor')
                }

                formula.push(form)

                objeto_formula = { 'tipo': 'sim/nao' }

                objeto_formula = Object.assign(objeto_formula, { 'formula': formula })

                atividade_marcada.setAttribute('formula', JSON.stringify(objeto_formula))
        } else {
            if (div_formula.length > 2) {
                if (atividade_marcada.getAttribute('decisao_verdadeira') == '' || atividade_marcada.getAttribute('decisao_verdadeira') == 'None') { return alert('Selecione uma opção para RETORNO VERDADEIRO') }
                if (atividade_marcada.getAttribute('decisao_falsa') == '' || atividade_marcada.getAttribute('decisao_falsa') == 'None') { return alert('Selecione uma opção para RETORNO FALSO') }

                div_formula.forEach(function (valor, i) {
                    const form = {
                        'tipo': valor.getAttribute('tipo'),
                        'origem': valor.getAttribute('origem_atributo') ? valor.getAttribute('origem_atributo') : '',
                        'valor': valor.getAttribute('valor')
                    }

                    formula.push(form)
                })

                objeto_formula = { 'tipo': 'operacao' }
                
                Object.assign(objeto_formula, { 'formula': formula })

                atividade_marcada.setAttribute('formula', JSON.stringify(objeto_formula))
            } else {
                return alert('Finalize a fórmula antes de salvar!')
            }
        }
    }

    /* ---------------------------------------------------------------- */
    /* -> Vínculos <--------------------------------------------------- */
    /* ---------------------------------------------------------------- */

    vincularAtividade = () => {
        desmarcarOpcoes()
        desabilitarAtividadesNaoSelecionadas(true)
    
        descricao_atividade.textContent = `Selecione as atividades na sequência de rota desejada`

        document.getElementById('vincular').classList.add('active')
        document.getElementById('cancelar_vinculos').style.display = 'block'
    }

    salvarVinculos = () => {
        const icone = document.getElementById('icone_salvar_vinculos')
        const salvar = document.getElementById('salvar_vinculos')
        const cancelar = document.getElementById('cancelar_vinculos')
        
        icone.setAttribute('class', 'fas fa-circle-notch fa-spin mr-2')

        proximo = 1
        anterior = 0
        for (vinculo of vinculos) {
            const atividade_vinculada = document.getElementById(vinculo)
            const tipo_atividade = atividade_vinculada.getAttribute('tipo_atividade')
            const direcao_atividade = atividade_vinculada.getAttribute('direcao')

            atividade_vinculada.setAttribute('proxima_atividade', vinculos[proximo] ? vinculos[proximo] : vinculos[--   proximo])
            atividade_vinculada.setAttribute('atividade_anterior', vinculos[anterior])
            
            atividade_vinculada.innerHTML = `<i class="${ tipo_atividade == 'R' ? rotas[direcao_atividade] : atividades[tipo_atividade][0] }"></i>`
            atividade_vinculada.classList.remove('none-events')

            if (proximo < vinculos.length) {
                proximo++
                anterior = proximo - 2
            }
        }

        setTimeout(() => {
            icone.setAttribute('class', 'fas fa-wave-square mr-2')
            salvar.style.display = 'none'
            cancelar.style.display = 'none'

            vinculos = []
            rota = 1 
        }, 2000)
    }

    cancelarVinculos  = () => {
        const icone = document.getElementById('icone_cancelar_vinculos')
        const salvar = document.getElementById('salvar_vinculos')
        const cancelar = document.getElementById('cancelar_vinculos')
        
        icone.setAttribute('class', 'fas fa-circle-notch fa-spin mr-2')

        for (vinculo of vinculos) {
            const atividade_vinculada = document.getElementById(vinculo)
            const tipo_atividade = atividade_vinculada.getAttribute('tipo_atividade')
            const direcao_atividade = atividade_vinculada.getAttribute('direcao')

            atividade_vinculada.innerHTML = `<i class="${ tipo_atividade == 'R' ? rotas[direcao_atividade] : atividades[tipo_atividade][0] }"></i>`
            atividade_vinculada.classList.remove('none-events')
        }

        setTimeout(() => {
            icone.setAttribute('class', 'fas fa-wave-square mr-2')
            salvar.style.display = 'none'
            cancelar.style.display = 'none'

            vinculos = []
            rota = 1 

            document.getElementById('selecionar_S').click()
        }, 2000)        
    }

    /* ---------------------------------------------------------------- */
    /* -> Adicionar atividade movimento <------------------------------ */
    /* ---------------------------------------------------------------- */

    
    /* ---------------------------------------------------------------- */
    /* -> Nada <--------------------------------------------------- */
    /* ---------------------------------------------------------------- */

    gerarMapaSimulacao = (inicio) => {
        let tipo = inicio.getAttribute('tipo_atividade')

        let id_atividade = parseInt(inicio.getAttribute('id'))
        let linha = parseInt(inicio.getAttribute('linha'))
        let coluna = parseInt(inicio.getAttribute('coluna'))
        let direcao = inicio.getAttribute('direcao')

        let id_proxima_atividade = ''
        let proxima_atividade = ''

        if (tipo == 'D') {
            mapaAtividadeDecisao(linha, coluna, direcao, id_atividade, direcao_atividade_anterior)
        } else if (tipo == 'F') {
            
        } else {
            direcao == 'C' ? linha = linha - 1 :
                direcao == 'D' ? coluna = coluna + 1 :
                    direcao == 'B' ? linha = linha + 1 :
                        direcao == 'E' ? coluna = coluna - 1 : coluna = coluna

            linha < 10 ? linha = `0${linha}` : linha
            coluna < 10 ? coluna = `0${coluna}` : coluna

            id_proxima_atividade = `${linha}${coluna}`
            proxima_atividade = document.getElementById(id_proxima_atividade)
            direcao_atividade_anterior = direcao

            mapa_simulacao.push({
                [id_atividade]: {[id_proxima_atividade]: document.getElementById(`${id_proxima_atividade}`).getAttribute('title')}
            })

            gerarMapaSimulacao(proxima_atividade)
        }
    }

    mapaAtividadeDecisao = (linha, coluna, direcao, id_atividade, direcao_atividade_anterior) => {
        let direcoes = [] // cima, direita, baixo, esquerda
        
        direcoes[0] = `${linha < 10 ? `0${linha - 1}` : linha - 1}${coluna < 10 ? `0${coluna}` : coluna}`
        direcoes[1] = `${linha < 10 ? `0${linha}` : linha}${coluna < 10 ? `0${coluna + 1}` : coluna + 1}`
        direcoes[2] = `${linha < 10 ? `0${linha + 1}` : linha + 1}${coluna < 10 ? `0${coluna}` : coluna}`
        direcoes[3] = `${linha < 10 ? `0${linha}` : linha}${coluna < 10 ? `0${coluna - 1}` : coluna - 1}`

        direcao_atividade_anterior == 'C' ? direcoes[3] = null :
            direcao_atividade_anterior == 'D' ? direcoes[2] = null :
                direcao_atividade_anterior == 'B' ? direcoes[0] = null :
                    direcao_atividade_anterior == 'E' ? direcoes[1] = null : direcoes[3]

        let atividades = []

        for (direcao in direcoes) {
            if (direcoes[direcao]) {
                const elemento = document.getElementById(direcoes[direcao])
                if (elemento.classList.contains('atividade_selecionada')) {
                    atividades.push({
                        [elemento.getAttribute('id')]: elemento.getAttribute('title')
                    })
                }
            }
        }

        mapa_simulacao.push({
            [id_atividade]: atividades
        })
        // mapa_simulacao.push({
        //     [id_atividade]: [{'proxima': id_proxima_atividade}]
        // })
        // const atividade_cima = `${ linha - 1 }

        // console.log(atividade_cima)
    }

    /* ------------------------------------------------------------------------- */
    /* -> Carregar ambiente <--------------------------------------------------- */
    /* ------------------------------------------------------------------------- */

    carregarAtributosParticipante = () => {
        const div_atributos_participante = document.getElementById('div_atributos_participante')

        for (const [atributo, opcoes] of Object.entries(configuracao_predefinicao[predefinicao]['participante'])) {
            const a = document.createElement('a')

            a.setAttribute('class', 'badge badge-success text-white m-1 p-2 cursor-pointer')
            a.setAttribute('onclick', `selecionarElementoFormula('atributo', 'temperatura', '${ atributo }')`)
            
            a.innerHTML = `<i class="${ opcoes[0] }"></i>${ atributo }`

            div_atributos_participante.append(a)
        }
    }

    carregarConfiguracoes = (primeiro_acesso) => {
        /* Verificando se existe algum início */
        if (document.querySelector('[tipo_atividade="I"]')) {
            document.getElementById('selecionar_I').classList.remove('bg-primary-bootstrap', 'text-white')
            document.getElementById('selecionar_I').classList.add('disabled')

            carregarAtributosParticipante()
        } else {
            document.getElementById('selecionar_I').classList.remove('disabled')
        }
    }

    document.getElementById('selecionar_S').click()
    carregar_atividades()
    carregarConfiguracoes(true)

    /* -> Atalhos de teclado <--------------------------------------------------- */

    document.onkeypress = function(evento) {
        if (evento.keyCode == 118) { vincularAtividade() }
    }

    /* -> Mouse está sendo clicado <--------------------------------------------- */

    document.body.onmousedown = function() { 
        mouseClicado = true
    }
    
    document.body.onmouseup = function() {
        mouseClicado = false
    }
</script>

{% endblock %}